<% layout('/layouts/default.html', {title: '方案管理', libs: ['validate','fileupload','ueditor']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(bizActionPlan.isNewRecord ? '新增方案' : '编辑方案')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${bizActionPlan}" action="${ctx}/biz/bizActionPlan/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('活动名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:hidden path="actionCode"/>
								<#form:treeselect title="${text('活动名称')}"
									path="activity" labelPath="activity.activityName" 
									url="${ctx}/biz/bizActivity/treeData?level=1" class="required" allowClear="true"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('方案类型')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<#form:select path="actionType" dictType="sys_biz_action_type" blankOption="true" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title=""> ${text('标题')}：</label>
							<div class="col-sm-10">
								<#form:input path="title" maxlength="300" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">${text('详细内容')}：</label>
							<div class="col-sm-10">
								<#form:ueditor path="detail" maxlength="3000" height="200" class="form-control" simpleToolbars="false" readonly="false" outline="false"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('biz:bizActionPlan:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
	<div  id="mapIframeDiv" style="display:none;opacity:0.9;filter:alpha(opacity=90);position:absolute;top:0;left:0;z-index:200;background: lightgray;width:100%;height:100%;">
		<div style="padding-left:3%;padding-top: 2%;width:90%;height:90%;text-align: center;">
		<button type="button" class="btn btn-sm btn-default" onclick="hide();" style="background-color: #444ae4;color: white;">${text('选好了')}</button>
		<button type="button" class="btn btn-sm btn-default" onclick="hide();" style="background-color: #444ae4;color: white;">${text('关闭')}</button>
		<iframe id="mapIframe" src="" width="100%" height="100%">
		</iframe>
		</div>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>